* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: white !important;
}

.paddingLeft {
  padding-left: 30px;
}

.job-title {
  color: gray;
}

.chip {
  color: white !important;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 3px !important;
  background-color: black !important;
  animation: fade-in 10s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
